@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Pixelify+Sans&family=Quantico&display=swap');

$font-logo: 'Mansalva', sans-serif;
$font-animation: 'Pixelify Sans', sans-serif;
$font-links-nav: 'Quantico', sans-serif;
$fontPrimary: 'Roboto', sans-serif;

$color-background: #20262E;